################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Usine_Core/.vs/Usine_Core/FileContentIndex
